
<!DOCTYPE html>
{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Guia Sul da Bahia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="O melhor do sul da bahia" />
	<meta name="keywords" content="O MELHOR DO SUL DA BAHIA" />
	<meta name="author" content="GUIASULDABAHIA" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/logo.png' %}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- 
	Default Theme Style 
	You can change the style.css (default color purple) to one of these styles
	
	

	-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
	<link rel="stylesheet" id="theme-switch" href="{% static 'css/style.css' %}">
	<!-- End demo purposes only -->

	<style>
	/* For demo purpose only */

	/*
	GREEN
	8dc63f
	RED
	FA5555
	TURQUOISE
	27E1CE
	BLUE 
	2772DB
	ORANGE
	FF7844
	YELLOW
	FCDA05
	PINK
	F64662
	PURPLE
	7045FF

	*/
	
	/* For Demo Purposes Only ( You can delete this anytime :-) */
	
	</style>
	<!-- End demo purposes only -->


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>


	<!-- 
		INFO:
		Add 'boxed' class to body element to make the layout as boxed style.
		Example: 
		<body class="boxed">	
	-->
	<body>
	
	<!-- Loader -->
	<div class="fh5co-loader"></div>
	
	<div id="fh5co-page">
		<section id="fh5co-header">
			<div class="container">
				<nav role="navigation">
					<ul class="pull-left left-menu">
						<li><a href="{% url 'home' %}">Início</a></li>
						<li><a href="{% url 'sobre' %}">Sobre o Guia</a></li>
						<li><a href="{% url 'parceiro' %}">Seja Parceiro</a></li>
					</ul>
					<a href="{% url 'home' %}"><h1 id="fh5co-logo"><img src="{% static 'images/logo.png' %}" style="width:7%"></img></h1></a>

				</nav>
			</div>
		</section>
		<!-- #fh5co-header -->
		

		<section id="fh5co-hero" class="js-fullheight" style="background-image: url(../static/images/hero_bg.jpg);" data-next="yes">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-intro js-fullheight">
					<div class="fh5co-intro-text">
						<!-- 
							INFO:
							Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
							Example:
							<div class="fh5co-right-position">
						-->
						<div class="fh5co-left-position">
							<h2 class="animate-box">Planeje sua viagem para o Sul da Bahia</h2>
							<p class="animate-box"><a href="{% url 'sobre' %}" class="btn btn-outline"> Quero planejar minha viajem</a> <a href="{% url 'parceiro' %}" target="_blank" class="btn btn-primary" style="background-color:#EF6100; border-color:#BD4B00 ;">Quero ser parceiro do guia</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-learn-more animate-box">
				<a href="#" class="scroll-btn">
					<span class="text">Saiba mais sobre nós</span>
					<span class="arrow" style="background-color:#EF6100; border-color:#BD4B00 ;"><i class="icon-chevron-down" style="background-color:#EF6100; border-color:#BD4B00 ;"></i></span>
				</a>
			</div>
		</section>
		<!-- END #fh5co-hero -->


		<section id="fh5co-projects">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-lead animate-box">O que fazemos ?</h2>
						<p class="fh5co-sub-lead animate-box">Experiências exclusivas no sul da bahia feitas por quem realmente conhece o local! </p>
					</div>
				</div>
	
				<div class="row">
					
					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Passeios=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/praia_2.jpg' %}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>Passeios</h2>
								<p> A Bahia é conhecida por ter praias incríveis e cenários naturais deslumbrantes.</p>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Hospedagens=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/hotel.jpg' %}" alt="hoteis no sul da bahia" class="img-responsive">
							<div class="fh5co-text">
								<h2>Dicas de hospedagem</h2>
								<p>Encontre o local ideal para curtir ao máximo sua estadia no sul da Bahia.</p>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Restaurantes=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/comida.jpg' %}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>Experiências gastronomicas</h2>
								<p>Os melhores restaurantes da região em um só lugar com fácil acesso.</p>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Transfers=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/transfer.jpg' %}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>Transfers e translados</h2>
								<p>Não se preocupe, o guia cuida de tudo para que você se concentre em se divertir!</p>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Esportes=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/rafting.jpg' %}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>Esporte e Saúde</h2>
								<p> Leva uma vida saudável? No guia você encontra os melhores profissionais do esporte da região! </p>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
						<a href="Itacaré/?Experiências=on&search=" class="fh5co-project-item" >
							<img src="{% static 'images/praia.jpg' %}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>Experiências exclusivas</h2>
								<p>Aquilo que a globo não mostra, nôs mostramos! Veja nossas experiências exclusivas! </p>
							</div>
						</a>
					</div>
					
					
				</div>
			</div>
		</section>
		<!-- END #fh5co-projects -->

		<!-- END #fh5co-features -->


		<section id="fh5co-features-2">
			<div class="container">
				<div class="col-md-6 col-md-push-6">
					<figure class="fh5co-feature-image animate-box">
						<img src="{% static 'images/grid.png' %}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co">
					</figure>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<h2 class="fh5co-lead animate-box">Seja nosso parceiro</h2>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3>Anuncie sua empresa</h3>
							<p>Traga sua empresa para o guia sul da bahia e seja encontrado por seus clientes</p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3>Apareça nas buscas</h3>
							<p>Nosso trabalho faz que sua empresa esteja na primeira página das buscas do google e redes sociais</p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3>Aumente suas vendas</h3>
							<p>O guia sul da bahia é feito para empresas que realmente querem alavancar seus resultados no cenário digital</p>
						</div>
					</div>

					<div class="fh5co-btn-action animate-box">
						<a href="#" class="btn btn-primary btn-cta" style="background-color:#EF6100; border-color:#BD4B00 ;">Saiba mais</a>
					</div>

				</div>
			</div>
		</section>
		<!-- END #fh5co-features-2 -->
		
		<section id="fh5co-testimonials">
			<div class="container">
				<div class="row row-bottom-padded-sm">
					<div class="col-md-6 col-md-offset-3 text-center">
						<div class="fh5co-label animate-box">Seja parceiro</div>
						<h2 class="fh5co-lead animate-box">Estamos selecionando nossos primeiros parceiros </h2>
				
			
				<form method="post" class="animate-box text-center" action =''>{% csrf_token %}
				
					<input type="email" class="form-control" placeholder="Digite seu E-mail" id="email" name="email" >
			
			
				<br>
				&nbsp;
			
		
					<input type="tel" class="form-control" placeholder="Digite seu WhatsApp" id="email" name="wpp">
					<br>
					<input type="submit" value="Enviar" class="btn btn-primary" style="background-color:#EF6100; border-color:#BD4B00 ;">
				</form>

			</div>
		</section>
		<!-- END #fh5co-testimonials -->

		<!-- END #fh5co-subscribe -->

		<footer id="fh5co-footer">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-footer-widget">
							<h3>Guia</h3>
							<ul class="fh5co-links">
								<li><a href="{% url 'sobre' %}">Sobre Nós</a></li>
								<li><a href="{% url 'parceiro' %}">Seja Parceiro</a></li>

							</ul>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-footer-widget">
							<h3>Suporte</h3>
							<ul class="fh5co-links">
								<li><a href="{% url 'sobre' %}">Entre em contato</a></li>
							
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-footer-widget">
							<h3>Contate-nos</h3>
							<p>
								<a href="mailto:info@freehtml5.co">contato@guiasuldabahia.com.br</a> <br>
				
							</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-footer-widget">
							<h3>Siga-nos</h3>
							<ul class="fh5co-social">
			
					
								<li><a href="https://www.instagram.com/guiasuldabahia/"><i class="icon-instagram"></i></a></li>
					
							</ul>
						</div>
					</div>

				</div>
				
			</div>
			<div class="fh5co-copyright animate-box">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="fh5co-left"><small>&copy; 2023 <a href="{% url 'home' %}">Guia Sul da Bahia</a>  All Rights Reserved.</small></p>
							<p class="fh5co-right"><small class="fh5co-right"> <a href="" target="_blank"></a> </small></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END #fh5co-footer -->
	</div>
		</footer>
		<!-- END #fh5co-footer -->

	<!-- End demo purposes only -->

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
	<script src="{% static 'js/jquery.style.switcher.js' %}"></script>
	<script>

	</script>
	<!-- End demo purposes only -->

	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js' %}"></script>

	<!-- 
	INFO:
	jQuery Cookie for Demo Purposes Only. 
	The code below is to toggle the layout to boxed or wide 
	-->
	<script src="{% static 'js/jquery.cookie.js' %}"></script>
	<script>
		$(function(){

			if ( $.cookie('layoutCookie') != '' ) {
				$('body').addClass($.cookie('layoutCookie'));
			}

			$('a[data-layout="boxed"]').click(function(event){
				event.preventDefault();
				$.cookie('layoutCookie', 'boxed', { expires: 7, path: '/'});
				$('body').addClass($.cookie('layoutCookie')); // the value is boxed.
			});

			$('a[data-layout="wide"]').click(function(event){
				event.preventDefault();
				$('body').removeClass($.cookie('layoutCookie')); // the value is boxed.
				$.removeCookie('layoutCookie', { path: '/' }); // remove the value of our cookie 'layoutCookie'
			});
		});
	</script>
	


	</body>
</html>

