    {% load static %}
 
    <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/mdb.min.js' %}"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!-- Google Map -->
 
  
      <!-- Form Validation -->
      <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script> 
      <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
      
      <!-- Bootstrap4 -->
      <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- Parallax -->
      <script src="{% static 'plugins/parallax/jquery.parallax-1.1.3.js' %}"></script>
      <!-- lightbox -->
      <script src="{% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script>
      <!-- Owl Carousel -->
      <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
      <!-- filter -->
      <script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
      <!-- Smooth Scroll js -->
      <script src="{% static 'plugins/smooth-scroll/smooth-scroll.min.js' %}"></script>
      
      <!-- Custom js -->
      <script src="{% static 'js/script.js' %}"></script>

    

   