<!DOCTYPE html>
<html lang="en">
   {% load static %}
   {% include 'head.html' %}

    <style>
       html,
       body,
       header,
       .jarallax {
       height: 1000px;
       min-height: 800px;
       }
       .logo {
            margin-top: -40px;
            display: inline-block;
      }
  .a {
     color: aliceblue;
  }
  .nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: #272323; }
  a {
 
  color:rgb(255, 255, 255) }
  h6 {
  font-size: 21px;
  font-weight: 400;
  color:black; }
  .slider {
  background: url(../images/slider.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
    </style>
  <body>
   <div class="a">
 <!--============================= HEADER =============================-->
 <div class="nav-menu">
      
   <div class="nav-menu">
      
   


               
           
         
         </ul>
     </div>
 </nav>
</div>
</div>
</div>
</div>
</div>
<!-- /main nav -->
</div>
</header>
&nbsp;
<body>
   <body >
      <div class="mask rgba-gradient7">
         <div class="container h-100 d-flex justify-content-center align-items-center">
            <!-- Grid row -->
            <div class="row  pt-5 mt-3">
               <!-- Grid column -->
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-body">
                        
                        <h5>{{query}} Resultados Encontrados.</h5>
                     </div>
                  </div>
               </div>
               <!-- Grid column -->
            </div>
            <!-- Grid row -->
         </div>
      </div>
      
      <div class="jumbotron">
         
      
        

         <div class="container mt-5">
            <!--Section: Content-->
            <section class="">
               
               <!-- Grid row -->
               <div class="row">

               
                 
                     {% for recipe in inter %}
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                     <!-- Card -->
                     <div class="card hoverable">
                        <!-- Card image -->
                        <img class="card-img-top" src="{{recipe.FotoDoAnuncio}}" alt="Card image cap">
                        <!-- Card content -->
                        <div class="card-body">
                           <!-- Title -->
                           <a href="{{recipe.get_url}}" class="black-text" style="color:black">{{recipe.title}}</a>
                           <!-- Text -->
                           <p class="card-title text-muted font-small mt-3 mb-2">{{recipe.description|safe|slice:":150"}}</p>
                           <a type="button" class="btn btn-flat text-primary p-0 mx-0" href="{{recipe.get_url}}">Read more<i class="fa fa-angle-right ml-2"></i></a>
                        </div>
                     </div>
                     <!-- Card -->
                  </div>
                  {% endfor %}
                


                  


              
                 
               </div>
               <!-- Grid row -->


               <!--##############################Pagination################################-->
 
               <!-- Pagination -->
               <nav class="my-4 flex-center">
                  <ul class="list-unstyled pagination pagination-circle pg-blue mb-0">
                     
                     <!-- First -->
                     {% if page == "1" %}
                     <li class="page-item disabled clearfix d-none d-md-block">
                        <a class="page-link" href="#">First</a>
                     </li>
                     {% else %}
                     <li class="page-item clearfix d-none d-md-block">
                        <a class="page-link" href="?{{topic}}=on&search={{query}}&page=1">First</a>
                     </li>
                     {% endif %}
               
                     <!-- Arrow left -->
                     {% if results.has_previous %}
                     <li class="page-item">
                        <a class="page-link" href="?{{topic}}=on&search={{query}}&page={{results.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                     </li>
                     {% else %}
                     <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                     </li>
                     {% endif %}
                  
                     <!-- Numbers -->
                     {% for number in results.paginator.page_range %}
                     <li class="page-item">
                        <a class="page-link" href="?{{topic}}=on&search={{query}}&page={{number}}">{{number}}</a>
                     </li>
                     {% endfor %}
                  
      
                     <!-- Arrow right -->
                     {% if results.has_next %}
                     <li class="page-item">
                        <a class="page-link" href="?{{topic}}=on&search={{query}}&page={{results.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                        </a>
                     </li>
                     {% else %}
                     <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                        </a>
                     </li>
                     {% endif %}

                     <!-- Last -->
                     {% if page != results.paginator.num_pages %}
                     <li class="page-item clearfix d-none d-md-block">
                        <a class="page-link" href="?{{topic}}=on&search={{query}}&page={{results.paginator.num_pages}}">Last</a>
                     </li>
                     {% else %}
                     <li class="page-item clearfix d-none d-md-block disabled">
                        <a class="page-link" href="#">Last</a>
                     </li>
                     {% endif %}
                  </ul>
               </nav>
               <!-- Pagination -->
               
               <div class="text-center mt-5">
                  <a class="btn btn-outline top-btn" href="/">Back Home</a>
               </div>
            </section>
            
            <!--Section: Content-->
         </div>
      </div>
      <footer class="main-block dark-bg">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="copyright">
                         <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                         <p>Copyright &copy; 2021 Guia Sul da Bahia - Todos os direitos reservados <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">LRL</a></p>
                         <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                         <ul>
                             <li><a href="https://www.instagram.com/guisuldabahia"><span class="ti-facebook"></span></a></li>
                       
                             <li><a href="https://www.facebook.com/guisuldabahia"><span class="ti-instagram"></span></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
      <!-- Main Navigation -->
      {% include 'scriptss.html' %}
   </body>
</html>